body {
  font-family: "Hind", sans-serif;
  background-color: #0c0a09;
  color: #f6f6f6; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Panchang", sans-serif; }

.display {
  font-family: "Panchang", sans-serif; }
  .display-bold {
    font-size: clamp(40px, 6vw, 52px);
    font-weight: 700; }
    .display-bold__outline {
      font-size: clamp(32px, 4vw, 52px);
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #f6f6f6; }

.banner {
  padding: 1rem 0rem; }

.hero {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-image: url(../images/hero.png);
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center; }
  @media (max-width: 768px) {
    .hero {
      min-height: 70vh; } }
  .hero-logo {
    padding: 0 2rem; }
    @media (max-width: 768px) {
      .hero-logo {
        padding: 0; } }
  .hero-banner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px; }
    @media (max-width: 768px) {
      .hero-banner {
        gap: 16px; } }
  .hero-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    gap: 16px; }

.pill {
  padding: 16px;
  max-width: 800px;
  background-color: #262626;
  border: 2px solid;
  border-color: #262626;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
  border-radius: 16px; }
  @media (max-width: 768px) {
    .pill {
      padding: 8px; } }

.ticket-container {
  padding: 24px; }
  @media (max-width: 768px) {
    .ticket-container {
      border-radius: 0;
      padding: 16px; } }

.points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0 !important; }
  .points li {
    text-align: left; }

.event {
  width: 100%;
  height: 100%;
  padding: 7rem 0rem 10rem;
  display: flex;
  align-items: center;
  gap: 5rem; }
  @media (max-width: 768px) {
    .event {
      flex-direction: column;
      gap: 2rem; } }
  .event-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 2; }

.deals {
  border: 2px solid;
  border-color: #262626;
  height: 100%;
  padding: 6rem 3rem;
  border-radius: 16px;
  background-color: #171718; }
  .deals-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem; }
    @media (max-width: 768px) {
      .deals-container {
        gap: 2rem; } }
  @media (max-width: 768px) {
    .deals {
      padding: 4rem 2rem; } }

.cta {
  padding: 7rem 0; }
  .cta-img {
    position: absolute;
    top: 2rem;
    z-index: -1; }
    @media (max-width: 768px) {
      .cta-img {
        top: -1rem;
        padding: 1rem 0; } }
  .cta-container {
    margin: 0 auto;
    padding-top: 12rem;
    max-width: 850px;
    position: relative; }
    @media (max-width: 768px) {
      .cta-container {
        padding-top: 0; } }
  .cta-text {
    margin-top: 5rem; }
